$primary-green: #1A5632;
$primary-lightgreen: #B4BD00;
$primary-yellow: #F8B605;
$primary-cream: #F1ECD1;
$pastel-green: #E5E8A6;
$bg-color: #F4F3ED;
$text-color: #101010;
$font-heading: 'TT Ramillas Trial', serif;
$font-paragraph: 'Poppins', san-serif;
$font-handwriting: 'Palmer Lake';


/***************** ******************/
.nd-nav {
    margin: 0px 75px;
    a, i {margin-right: 10px;}
    a:hover {
        border-bottom: 0.5px solid #000;
    }
}

.recipe-info {
    margin: 50px 75px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.r-info-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nutri-tags {
    display: flex;
    gap: 20px;
}

[class*="nu-tag"] {
    flex: 1;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nu-tag-1 {background-color: $pastel-green;}
.nu-tag-2 {background-color: rgba(224, 66, 66, 0.30);}
.nu-tag-3 {background-color: rgba(248, 182, 5, 0.45);}
.nu-tag-4 {background-color: #bbc7d2}

.nutritions h4{
    margin-bottom: 10px;
}

.re-btns  {
    //button {margin-right: 20px;}
    display: flex;
    justify-content: space-between;
    gap: 20px;
    button {flex: 1;}
}

.askchef-btn {
    img {margin-right: 10px;}
}

.sc-btn {
    font-family: $font-paragraph;
    padding: 17px 60px;
    font-size: 2rem;
    font-weight: 600;
    background-color: $primary-green;
    color: $primary-cream;
    i {margin-right: 10px;}
}

/***************** ******************/
.recipe-instruction {
    margin: 150px 75px;
    display: flex;
    justify-content: space-between;
    background-color: $primary-cream;
    border-radius: 15px;
    h2 {font-size: 4.8rem;}
}

.ingredient {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

    border: 2px solid #000;
    background-color: $primary-lightgreen;
    border-radius: 15px;
}

.scale-option {
    display: flex;
    justify-content: space-between;
}
.scale button {
    height: 35px;
    width: 35px;
    font-size: 1.6rem;
    border-radius: 10px;

    color: #000;
    background-color: rgba($color: #000000, $alpha: 0);
    border: 1.5px solid  #000;

    &:hover {
        background-color: rgba($color: #000000, $alpha: 1.0);
        color: $primary-cream;
    }
}
.US {
    display: inline;
    margin-right: 10px;
    font-weight: 600;
    border-bottom: 0.5px solid #000;
}

.Metric { display: inline;
    &:hover {border-bottom: 0.5px solid #000;}
}

.ing-lists {
    display: flex;
    flex-direction: column;
}

.ing-list {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    input[type="checkbox"] {
        appearance: none;
        margin-bottom: 5px;
        vertical-align: middle;
         background-color: transparent;
        border: 1px solid #000;
        border-radius: 5px;
        width: 15px;
        height: 15px;

        &:checked {
            background-color: $primary-green;
        }
        &::before {
            content: '\2714';
            color: transparent;
            text-align: center;
            line-height: 15px; 
        }
        &:checked::before {
            content: '\2714';
            color: $primary-cream;

        }

    }
}

.instruction {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.step {
    position: relative;
    margin-bottom: 20px;
    padding: 50px;
    background-color: $pastel-green;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 50px;

    .s-btns {
        position: absolute;
        right: 50px;
        top: 50px;
    }

    h3 {
        font-family: $font-handwriting;
        color: $primary-lightgreen;
        font-weight: 400;
        font-size: 9.6rem;
        line-height: 50%;
    }
    h4 {font-size: 2.4rem;
    margin-bottom: 10px}
}

.ingr-btn button{
    font-family: $font-paragraph;
    margin-right: 15px;
    padding: 10px 20px;
    background-color: $primary-lightgreen;
    border-radius: 50px;
    border: none;
}

.tip {
    button {
        font-family: $font-paragraph;
        margin-bottom: 10px;
        padding: 5px 20px;
        background-color: $text-color;
        color: $primary-cream;
        font-size: 2rem;
        border-radius: 50px;
        border: none;

        display: flex;
        align-items: center;
    }
    img {transform: scale(0.5);}
    p {font-style: italic;}
}
