$primary-green: #1A5632;
$primary-lightgreen: #B4BD00;
$primary-yellow: #F8B605;
$primary-cream: #F1ECD1;
$pastel-green: #E5E8A6;
$bg-color: #F4F3ED;
$text-color: #101010;
$font-heading: 'TT Ramillas Trial', serif;
$font-paragraph: 'Poppins', san-serif;
$font-handwriting: 'Palmer Lake';